Repository callstackincubator/polygen: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn lint {staged_files}

types:
  run: npx tsc

wip tests
  .clang-format
  .clang-tidy
  packages/polygen/cpp/CMakeLists.txt
  test-runner/CMakeLists.txt
  test-runner/fakern/CMakeLists.txt
  test-runner/fakern/DummyCallInvoker.cpp
  test-runner/fakern/DummyCallInvoker.hpp
  test-runner/fakern/DummyRuntime.cpp
  test-runner/fakern/DummyRuntime.h
  test-runner/fakern/ReactCommon/CallInvoker.h
  test-runner/fakern/ReactCommon/SchedulerPriority.h
  test-runner/fakern/ReactCommon/TurboModule.cpp
  test-runner/fakern/ReactCommon/TurboModule.h
  test-runner/fakern/react/bridging/AString.h
  test-runner/fakern/react/bridging/Array.h
  test-runner/fakern/react/bridging/Base.h
  test-runner/fakern/react/bridging/Bool.h
  test-runner/fakern/react/bridging/Bridging.h
  test-runner/fakern/react/bridging/CMakeLists.txt
  test-runner/fakern/react/bridging/CallbackWrapper.h
  test-runner/fakern/react/bridging/Class.h
  test-runner/fakern/react/bridging/Convert.h
  test-runner/fakern/react/bridging/Dynamic.h
  test-runner/fakern/react/bridging/Error.h
  test-runner/fakern/react/bridging/EventEmitter.h
  test-runner/fakern/react/bridging/Function.h
  test-runner/fakern/react/bridging/LongLivedObject.cpp
  test-runner/fakern/react/bridging/LongLivedObject.h
  test-runner/fakern/react/bridging/Number.h
  test-runner/fakern/react/bridging/Object.h
  test-runner/fakern/react/bridging/Promise.h
  test-runner/fakern/react/bridging/Value.h
  test-runner/shell/CMakeLists.txt
  test-runner/shell/main.cpp
  test-runner/vcpkg-configuration.json
  test-runner/vcpkg-ports/hermes/HermesConfig.cmake
  test-runner/vcpkg-ports/hermes/portfile.cmake
  test-runner/vcpkg-ports/hermes/vcpkg.json
  test-runner/vcpkg.json
Due: none

refactor: extract ProjectCommand to streamline project loading in commands refactor: codegen plugins
  apps/example/ios/Podfile.lock
  packages/codegen/src/codegen.ts
  packages/codegen/src/pipeline/dump-metadata.ts
  packages/codegen/src/pipeline/react-native/cocoapods.ts
  packages/codegen/src/pipeline/react-native/metro.ts
  packages/codegen/src/plugin.ts
  packages/polygen-cli/src/actions/clean.ts
  packages/polygen-cli/src/actions/codegen.ts
  packages/polygen-cli/src/commands/clean.ts
  packages/polygen-cli/src/commands/generate.ts
  packages/polygen-cli/src/commands/scan.ts
  packages/polygen-cli/src/helpers/with-project-options.ts
  packages/polygen-cli/src/index.ts
  packages/polygen-cli/src/types.ts
Due: lint, types

work on codegen pipeline processing
  packages/codegen/src/codegen-pipeline.ts
  packages/codegen/src/codegen.ts
  packages/codegen/src/codegen/utils.ts
  packages/codegen/src/generators/host.ts
  packages/codegen/src/generators/import-bridge.ts
  packages/codegen/src/pipeline/dump-metadata.ts
  packages/codegen/src/pipeline/react-native/cocoapods.ts
  packages/codegen/src/pipeline/react-native/metro.ts
  packages/codegen/src/pipeline/react-native/turbomodule.ts
  packages/codegen/src/pipeline/wasm2c-runtime.ts
  packages/codegen/src/plugin.ts
  packages/codegen/src/templates/host.ts
  packages/polygen-cli/src/actions/codegen.ts
Due: lint, types

work on tests
  packages/polygen-cli/src/commands/generate.ts
  test-runner/CMakeLists.txt
  test-runner/cmake/Polygen.cmake
  test-runner/cmake/RNCodeGen.cmake
  test-runner/tests/CMakeLists.txt
  test-runner/tests/fib_with_host_fn/CMakeLists.txt
  test-runner/tests/fib_with_host_fn/Test.cpp
  test-runner/tests/fib_with_host_fn/module.wasm
  test-runner/tests/fib_with_host_fn/polygen.config.mjs
Due: lint, types

fix: make cli normal dependency of `polygen`
  .changeset/gentle-panthers-cheat.md
  packages/polygen/package.json
Due: none

fix: wasm2c file output check change: rename @host output dir to host
  apps/example/ios/Podfile.lock
  packages/codegen/src/codegen.ts
  packages/codegen/src/pipeline/react-native/metro.ts
  packages/codegen/src/wasm2c/wasm2c.ts
  packages/metro-config/src/index.ts
  packages/polygen-project/src/project.modules.ts
  packages/polygen-project/src/project.paths.ts
  packages/polygen/polygen.rb
Due: lint, types

work on tests
  packages/codegen/src/pipeline/react-native/cpp-turbomodule.ts
  packages/codegen/src/source-builder/builder.decls.ts
  packages/codegen/src/source-builder/builder.expr.ts
  packages/codegen/src/source-builder/builder.file.ts
  packages/codegen/src/source-builder/builder.ts
  packages/codegen/src/source-builder/builder.types.ts
  packages/codegen/src/source-builder/common.ts
  packages/codegen/src/source-builder/source-writer.ts
  packages/codegen/src/templates/host.ts
  packages/codegen/src/templates/library/static-lib.ts
Due: lint, types

feat: refactor codegen
  apps/example/ios/Podfile.lock
  packages/codegen/src/codegen/modules.ts
  packages/codegen/src/helpers/source-builder.ts
  packages/codegen/src/pipeline/react-native/cocoapods.ts
  packages/codegen/src/source-builder/builder.block.ts
  packages/codegen/src/source-builder/builder.decls.ts
  packages/codegen/src/source-builder/builder.expr.ts
  packages/codegen/src/source-builder/builder.file.ts
  packages/codegen/src/source-builder/builder.types.ts
  packages/codegen/src/source-builder/common.ts
  packages/codegen/src/source-builder/index.ts
  packages/codegen/src/source-builder/source-writer.ts
  packages/codegen/src/templates/host.ts
  packages/codegen/src/templates/library/imports-bridge.ts
  packages/codegen/src/templates/library/static-lib.ts
  packages/polygen-cli/src/helpers/with-project-options.ts
  packages/polygen/ReactNativePolygen.podspec
  packages/polygen/cpp/ReactNativePolygen/Loader.cpp
  packages/polygen/cpp/ReactNativePolygen/Loader.h
  packages/polygen/cpp/ReactNativePolygen/ModuleBag.h
  packages/polygen/cpp/ReactNativePolygen/ReactNativePolygen.cpp
  packages/polygen/cpp/ReactNativePolygen/ReactNativePolygen.h
  packages/polygen/cpp/ReactNativePolygen/SharedLibraryModule.h
  packages/polygen/cpp/ReactNativePolygen/StaticLibraryModule.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/ExternRefTable.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/FuncRefTable.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/Global.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/Memory.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/Module.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/Table.h
  packages/polygen/cpp/ReactNativePolygen/bridge.cpp
  packages/polygen/cpp/ReactNativePolygen/bridge.h
  packages/polygen/cpp/ReactNativePolygen/w2c.h
  packages/polygen/polygen.rb
Due: lint, types

fix: codegen for moduleinfo
  apps/example/ios/Podfile.lock
  packages/codegen/src/generators/module-bridge.ts
  packages/codegen/src/helpers/output-generator.ts
  packages/codegen/src/source-builder/builder.expr.ts
  packages/codegen/src/source-builder/builder.file.ts
  packages/codegen/src/source-builder/builder.types.ts
  packages/codegen/src/templates/host.ts
  packages/codegen/src/templates/library/static-lib.ts
  packages/polygen-cli/src/actions/codegen.ts
  packages/polygen/ReactNativePolygen.podspec
  packages/polygen/cpp/ReactNativePolygen/ModuleBag.h
  packages/polygen/cpp/ReactNativePolygen/WebAssembly/Module.h
Due: lint, types

feat: add support for multiple output files feat: support module-name override
  .changeset/quick-pandas-sell.md
  .changeset/stale-olives-end.md
  packages/codegen/src/codegen.ts
  packages/codegen/src/codegen/context.ts
  packages/codegen/src/codegen/modules.ts
  packages/codegen/src/generators/module-bridge.ts
  packages/codegen/src/pipeline/react-native/metro.ts
  packages/codegen/src/wasm2c/wasm2c.ts
  packages/polygen-config/src/index.ts
  packages/polygen-config/src/types/global-config.ts
  packages/polygen-config/src/types/module-config.ts
Due: lint, types

chore: update docs on codegen split
  docs/components/DocTable.tsx
  docs/content/docs/config/index.mdx
  docs/content/docs/config/meta.json
  docs/content/docs/config/modules.mdx
  docs/content/docs/config/output.mdx
Due: lint

chore: fix comment typo
  packages/polygen-config/src/types/module-config.ts
Due: lint, types

Add any .rb scripts to the package
  .changeset/gorgeous-swans-agree.md
  packages/polygen/package.json
Due: none

Fix init in package without dependencies
  .changeset/clean-radios-cover.md
  packages/polygen-cli/src/commands/init.ts
Due: lint, types

Update exports
  packages/polygen/package.json
Due: none

Make "type" explicit
  packages/polygen/package.json
Due: none

docs: add banner
  README.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
